--installment-minWidth: 320px;
--installment-maxWidth: 2000;
--installment-maxWidthContainer: 1440px;
--installment-md1: 1480px;
--installment-md2: 1024.98px;
--installment-md3: 767.98px;
--installment-md4: 479.98px;
--installment-red: #da002b;
--installment-redHover: rgba(235,21,55,.05);
--installment-black: #111;
--installment-black-1: #242424;
--installment-gray: #999;
--installment-gray-1: #c4c4c4;
--installment-gray-2: #818181;
--installment-gray-3: #8b8b8b;
--installment-gray-4: #4f4f4f;
--installment-gray-5: #ccc;
--installment-gray-6: #e2e2e2;
--installment-gray-7: #555;
--installment-gray-8: #999;
--installment-gray-9: #707070;
--installment-gray-10: #d4d4d4;
--installment-gray-11: #ede7e7;
--installment-gray-12: #828282;
--installment-gray-13: #a7a9ac;
--installment-gray-14: #a6a6a6;
--installment-green: #12bf6c;
--installment-purple: #7600ec;
--installment-greenHover: rgba(18,191,108,.05);
--installment-blue: #2b71f8;
--installment-blue2: #005cfe;
--installment-blue3: #2189ff;
--installment-blue4: #0091ff;
--installment-blue5: #d3edef;
--installment-blue6: #e2ebf0;
--installment-blue7: #4274bb;
--installment-blue8: #5897fb;
--installment-white: #fff;
--installment-white90: #ffffff90;
--installment-white50: #ffffff50;
--installment-white-1: #e8e8e8;
--installment-white-2: #f2f2f2;
--installment-white-3: #f1f3f4;
--installment-white-4: #e0e0e0;
--installment-white-5: #f3f4f5;
--installment-orange: #fd8200;
--installment-orange-1: #ffaa4e;
--installment-yellow: #ffd740;
--installment-yellow-2: #ffb500;
--installment-pink: #ff6384;
--installment-pink-1: #ffb1c1;
--installment-pink-2: #fee2e2;
--installment-r_gradient-white: radial-gradient(ellipse at center,#fff 32%,hsla(0,0%,7%,.7) 0);
--installment-r_gradient-red: radial-gradient(ellipse at center,#da002b 32%,hsla(0,0%,7%,.7) 0);
--installment-l_gradient-red: linear-gradient(90deg,#da002b 10%,hsla(0,0%,100%,0) 42%);
--installment-l_gradient-white08: linear-gradient(0deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,.8));
--installment-l_gradient-white: linear-gradient(180deg,hsla(0,0%,100%,0),#fff 80.23%);
--installment-animation: .3s cubic-bezier(.4,0,.2,1);
--installment-fontFamily: "Raleway",sans-serif;
--bank-card-minWidth: 320px;
--bank-card-maxWidth: 2000;
--bank-card-maxWidthContainer: 1440px;
--bank-card-md1: 1480px;
--bank-card-md2: 1024.98px;
--bank-card-md3: 767.98px;
--bank-card-md4: 479.98px;
--bank-card-red: #da002b;
--bank-card-redHover: rgba(235,21,55,.05);
--bank-card-black: #111;
--bank-card-black-1: #242424;
--bank-card-gray: #999;
--bank-card-gray-1: #c4c4c4;
--bank-card-gray-2: #818181;
--bank-card-gray-3: #8b8b8b;
--bank-card-gray-4: #4f4f4f;
--bank-card-gray-5: #ccc;
--bank-card-gray-6: #e2e2e2;
--bank-card-gray-7: #555;
--bank-card-gray-8: #999;
--bank-card-gray-9: #707070;
--bank-card-gray-10: #d4d4d4;
--bank-card-gray-11: #ede7e7;
--bank-card-gray-12: #828282;
--bank-card-gray-13: #a7a9ac;
--bank-card-gray-14: #a6a6a6;
--bank-card-green: #12bf6c;
--bank-card-purple: #7600ec;
--bank-card-greenHover: rgba(18,191,108,.05);
--bank-card-blue: #2b71f8;
--bank-card-blue2: #005cfe;
--bank-card-blue3: #2189ff;
--bank-card-blue4: #0091ff;
--bank-card-blue5: #d3edef;
--bank-card-blue6: #e2ebf0;
--bank-card-blue7: #4274bb;
--bank-card-blue8: #5897fb;
--bank-card-white: #fff;
--bank-card-white90: #ffffff90;
--bank-card-white50: #ffffff50;
--bank-card-white-1: #e8e8e8;
--bank-card-white-2: #f2f2f2;
--bank-card-white-3: #f1f3f4;
--bank-card-white-4: #e0e0e0;
--bank-card-white-5: #f3f4f5;
--bank-card-orange: #fd8200;
--bank-card-orange-1: #ffaa4e;
--bank-card-yellow: #ffd740;
--bank-card-yellow-2: #ffb500;
--bank-card-pink: #ff6384;
--bank-card-pink-1: #ffb1c1;
--bank-card-pink-2: #fee2e2;
--bank-card-r_gradient-white: radial-gradient(ellipse at center,#fff 32%,hsla(0,0%,7%,.7) 0);
--bank-card-r_gradient-red: radial-gradient(ellipse at center,#da002b 32%,hsla(0,0%,7%,.7) 0);
--bank-card-l_gradient-red: linear-gradient(90deg,#da002b 10%,hsla(0,0%,100%,0) 42%);
--bank-card-l_gradient-white08: linear-gradient(0deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,.8));
--bank-card-l_gradient-white: linear-gradient(180deg,hsla(0,0%,100%,0),#fff 80.23%);
--bank-card-animation: .3s cubic-bezier(.4,0,.2,1);
--bank-card-fontFamily: "Raleway",sans-serif;
--cart-minWidth: 320px;
--cart-maxWidth: 2000;
--cart-maxWidthContainer: 1440;
--cart-md1: 1480;
--cart-md2: 1024.98;
--cart-md3: 767.98;
--cart-md4: 479.98;
--cart-red: #da002b;
--cart-redHover: rgba(235,21,55,.05);
--cart-black: #111;
--cart-black-1: #242424;
--cart-gray: #999;
--cart-gray-1: #c4c4c4;
--cart-gray-2: #818181;
--cart-gray-3: #8b8b8b;
--cart-gray-4: #4f4f4f;
--cart-gray-5: #ccc;
--cart-gray-6: #e2e2e2;
--cart-gray-7: #555;
--cart-gray-8: #999;
--cart-gray-9: #707070;
--cart-gray-10: #d4d4d4;
--cart-gray-11: #ede7e7;
--cart-gray-12: #828282;
--cart-gray-13: #a7a9ac;
--cart-gray-14: #a6a6a6;
--cart-green: #12bf6c;
--cart-purple: #7600ec;
--cart-greenHover: rgba(18,191,108,.05);
--cart-blue: #2b71f8;
--cart-blue2: #005cfe;
--cart-blue3: #2189ff;
--cart-blue4: #0091ff;
--cart-blue5: #d3edef;
--cart-blue6: #e2ebf0;
--cart-blue7: #4274bb;
--cart-blue8: #5897fb;
--cart-white: #fff;
--cart-white90: #ffffff90;
--cart-white50: #ffffff50;
--cart-white-1: #e8e8e8;
--cart-white-2: #f2f2f2;
--cart-white-3: #f1f3f4;
--cart-white-4: #e0e0e0;
--cart-white-5: #f3f4f5;
--cart-orange: #fd8200;
--cart-orange-1: #ffaa4e;
--cart-yellow: #ffd740;
--cart-yellow-2: #ffb500;
--cart-pink: #ff6384;
--cart-pink-1: #ffb1c1;
--cart-pink-2: #fee2e2;
--cart-r_gradient-white: radial-gradient(ellipse at center,#fff 32%,hsla(0,0%,7%,.7) 0);
--cart-r_gradient-red: radial-gradient(ellipse at center,#da002b 32%,hsla(0,0%,7%,.7) 0);
--cart-l_gradient-red: linear-gradient(90deg,#da002b 10%,hsla(0,0%,100%,0) 42%);
--cart-l_gradient-white08: linear-gradient(0deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,.8));
--cart-l_gradient-white: linear-gradient(180deg,hsla(0,0%,100%,0),#fff 80.23%);
--cart-animation: .3s cubic-bezier(.4,0,.2,1);
--cart-fontFamily: "Raleway",sans-serif;
--auth-minWidth: 320px;
--auth-maxWidth: 2000;
--auth-maxWidthContainer: 1440px;
--auth-md1: 1480px;
--auth-md2: 1024.98px;
--auth-md3: 767.98px;
--auth-md4: 479.98px;
--auth-red: #da002b;
--auth-redHover: rgba(235,21,55,.05);
--auth-black: #111;
--auth-black-1: #242424;
--auth-gray: #999;
--auth-gray-1: #c4c4c4;
--auth-gray-2: #818181;
--auth-gray-3: #8b8b8b;
--auth-gray-4: #4f4f4f;
--auth-gray-5: #ccc;
--auth-gray-6: #e2e2e2;
--auth-gray-7: #555;
--auth-gray-8: #999;
--auth-gray-9: #707070;
--auth-gray-10: #d4d4d4;
--auth-gray-11: #ede7e7;
--auth-gray-12: #828282;
--auth-gray-13: #a7a9ac;
--auth-gray-14: #a6a6a6;
--auth-green: #12bf6c;
--auth-purple: #7600ec;
--auth-greenHover: rgba(18,191,108,.05);
--auth-blue: #2b71f8;
--auth-blue2: #005cfe;
--auth-blue3: #2189ff;
--auth-blue4: #0091ff;
--auth-blue5: #d3edef;
--auth-blue6: #e2ebf0;
--auth-blue7: #4274bb;
--auth-blue8: #5897fb;
--auth-white: #fff;
--auth-white90: #ffffff90;
--auth-white50: #ffffff50;
--auth-white-1: #e8e8e8;
--auth-white-2: #f2f2f2;
--auth-white-3: #f1f3f4;
--auth-white-4: #e0e0e0;
--auth-white-5: #f3f4f5;
--auth-orange: #fd8200;
--auth-orange-1: #ffaa4e;
--auth-yellow: #ffd740;
--auth-yellow-2: #ffb500;
--auth-pink: #ff6384;
--auth-pink-1: #ffb1c1;
--auth-pink-2: #fee2e2;
--auth-r_gradient-white: radial-gradient(ellipse at center,#fff 32%,hsla(0,0%,7%,.7) 0);
--auth-r_gradient-red: radial-gradient(ellipse at center,#da002b 32%,hsla(0,0%,7%,.7) 0);
--auth-l_gradient-red: linear-gradient(90deg,#da002b 10%,hsla(0,0%,100%,0) 42%);
--auth-l_gradient-white08: linear-gradient(0deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,.8));
--auth-l_gradient-white: linear-gradient(180deg,hsla(0,0%,100%,0),#fff 80.23%);
--auth-animation: .3s cubic-bezier(.4,0,.2,1);
--auth-fontFamily: "Raleway",sans-serif;
--minWidth: 320px;
--maxWidth: 2000px;
--maxWidthContainer: 1440px;
--md1: var(--maxWidthContainer) + 40px;
--md2: 1024.98px;
--md3: 767.98px;
--md4: 479.98px;
--red: #da002b;
--red2: #da002b;
--redHover: rgba(235,21,55,.05);
--black: #111;
--black-1: #242424;
--gray: #999;
--gray-1: #c4c4c4;
--gray-2: #818181;
--gray-3: #8b8b8b;
--gray-4: #4f4f4f;
--gray-5: #ccc;
--gray-6: #e2e2e2;
--gray-7: #555;
--gray-8: #999;
--gray-9: #707070;
--gray-10: #d4d4d4;
--gray-11: #ede7e7;
--gray-12: #828282;
--gray-13: #a7a9ac;
--gray-14: #a6a6a6;
--green: #12bf6c;
--greenHover: rgba(18,191,108,.05);
--blue: #2b71f8;
--blue2: #005cfe;
--blue3: #2189ff;
--blue4: #0091ff;
--blue5: #d3edef;
--blue6: #e2ebf0;
--blue7: #4274bb;
--blue8: #5897fb;
--white: #fff;
--white90: #ffffff90;
--white50: #ffffff50;
--white-1: #e8e8e8;
--white-2: #f2f2f2;
--white-3: #f1f3f4;
--white-4: #e0e0e0;
--white-5: #f3f4f5;
--purple: #7600ec;
--orange: #fd8200;
--orange-1: #ffaa4e;
--yellow: #ffd740;
--yellow-2: #ffb500;
--pink: #ff6384;
--pink-1: #ffb1c1;
--pink-2: #fee2e2;
--r_gradient-white: radial-gradient(ellipse at center,#fff 32%,hsla(0,0%,7%,.7) 0);
--r_gradient-red: radial-gradient(ellipse at center,#da002b 32%,hsla(0,0%,7%,.7) 0);
--l_gradient-red: linear-gradient(90deg,#da002b 10%,hsla(0,0%,100%,0) 42%);
--l_gradient-white08: linear-gradient(0deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,.8));
--l_gradient-white: linear-gradient(180deg,hsla(0,0%,100%,0),#fff 80.23%);
--animation: .3s cubic-bezier(.4,0,.2,1);
--fontFamily: "Raleway",sans-serif;
-webkit-text-size-adjust: 100%;
line-height: 1;
text-rendering: optimizeLegibility;
font-feature-settings: "pnum" on,"lnum" on;
color: #111;
font-family: Raleway,sans-serif;
font-size: 14px;
margin: 0;
box-sizing: border-box;
width: 100%;
border: none;
border-radius: 0;
padding: 0;