{% load static %}

{% block content %}
<!-- Katalog uchun menu -->

    <div class="katalog">

        <div class="part1">
            <a href="#">Televizor, foto-video va audio</a>
            <a href="#">Noutbuk, printer, kompyuterlar</a>
            <a href="#">Maishiy texnika</a>
            <a href="#">Barchasi oshxona uchun</a>
            <a href="#">Sport anjomlari</a>
            <a href="#">Go‘zallik va salomatlik</a>
            <a href="#">Avto jihozlar</a>
            <a href="#">Barchasi ofis, uy va bog‘ uchun</a>
            <a href="#">Kiyim va poyabzallar</a>
            <a href="#">Kitoblar</a>
        </div>

        <div class="part2">
                <div class="kat_tel">
                    <p>Televizorlar</p>
                    <a href="">Sony</a>
                    <a href="">Samsung</a>
                    <a href="">Artel</a>
                    <a href="">LG</a>
                    <a href="">Shivaki</a>
                    <a href="">Vesta</a>
                    <a href="">Premier</a>
                    <a href="">Avalon</a>
                    <a href="">Moonx</a>
                    <a href="">Hisense</a>
                    <a href="">Toshiba</a>
                </div>

                <div class="kat_tel">
                    <p>Noutbuklar</p>
                    <a href="">Lenovo</a>
                    <a href="">Samsung</a>
                    <a href="">Hp</a>
                    <a href="">Asus</a>
                    <a href="">MacBook</a>
                    <a href="">Transfromer</a>
                    <a href="">Premier</a>
                    <a href="">Micrasoft</a>
                    <a href="">Moonx</a>
                    <a href="">Hisense</a>
                    <a href="">Toshiba</a>
                </div>

                <div class="kat_tel">
                    <p>Telefonlar</p>
                    <a href="">Redmi</a>
                    <a href="">Xiaomi</a>
                    <a href="">iPhone</a>
                    <a href="">LG</a>
                    <a href="">Samsung</a>
                    <a href="">Nokia</a>
                    <a href="">Huawei</a>
                    <a href="">Honor</a>
                    <a href="">Novey</a>
                    <a href="">Tecno</a>
                    <a href="">Oppo</a>
                </div>
            <button class="kat_back">x</button>
        </div>
    </div>
    

    <!-- Main -->

    <div class="main">
        <div class="part1">
            <img src="img/mainimg.png" alt="">
        </div>
        <div class="part2">
            <h1>Kun mahsuloti &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!--<font>04</font>:<font>35</font>:<font>12</font>--><p id="demo"></p></h1>
            <h2>-14%</h2>
            <img src="img/television-png-tv-5.png" alt="">
            <h3>Televizor Artel</h3>
            <h4>3 330 000 so'm <font>3 840 000 so'm</font></h4>
            <h5>360 000 so'm x 12oy</h5>
        </div>
    </div>

    <!-- Slayd kategoriya -->

    <div class="slayd">

        <div class="part1">
            <img src="img/CKZsoYyBZe0yjbVeweAfqdN37DUoniYtoaP6axHXjmP8mL1sdfHJViYxE9oC_.png" alt="">
            <h1>Televizor, foto- <br>video va audio</h1>
        </div>

        <div class="part1">
            <img src="img/ANjR66Mftj98kEBx8CWVVnQLdFQuJ4pSr3QKP4n9msN9OAwp25zPtdDyLxi5_.png" alt="">
            <h1>Noutbuk, printer, <br> kompyuterlar</h1>
        </div>

        <div class="part1">
            <img src="img/ZUL8nBr5B3s2XNEX8MYx7lQz52QDpTpOOEf31vUDjN5Zxt0nkHEDuxyNNvuJ_.png" alt="">
            <h1>Smartfon, telefon,<br> aksesuarlar</h1>
        </div>

        <div class="part1">
            <img src="img/BCoCpVZoqpqJzQC4aiRpGVE115PG3XEqtSsF4AfxYn9sruh9BLoqUenR5IAi_.png" alt="">
            <h1>Maishiy texnika</h1>
        </div>

        <div class="part1">
            <img src="img/BMBNZQhTuA1GZumMwimF96GL1kiCPWrmAqAqHjYJ9hMB1uuofjrF9GHH0cli_.png" alt="">
            <h1>Barcha oshxona <br> uchun</h1>
        </div>

        <div class="part1">
            <img src="img/9fCLiZeH7QOJDKz24ZZg9h7lNbSMlWNuZKCYZueqB0bGSDpx9AbodQuBhmoa_.png" alt="">
            <h1>Sport anjomlari</h1>
        </div>
        <div class="part1">
            <img src="img/Yj9TQjVam8Cv1fiH09UBzA38z6ei92xvBC7BCvhyS3CS5b2XZVd3dRwvMUVQ_.png" alt="">
            <h1>Go'zallik va <br> salomatlik</h1>
        </div>
        <div class="part1">
            <img src="img/avto-jihoz.png" alt="">
            <h1>Avto jihozlar</h1>
        </div>
        <div class="part1">
            <img src="img/tS7u52PvR1Zaw3xRLQ0h1zBH9sSevOAQt3FdXmyQ4DfUo8cgruPXuvyyAHmO_.png" alt="">
            <h1>Barchasi ofis, uy va <br> bog' uchun</h1>
        </div>
    </div>
        <div class="slayd2">
            <img src="img/avto-kov.png" alt=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="img/mikro-pech.png" alt=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="img/yug-mash.png" alt="">
        </div> <br> <br>
        <div class="chegrima-img">
        <img src="img/wRC6y5lMviM2RHKRy9z2CuBcbgTANzBZer4TElvsDPxDL4WJIcsepqSKez3J.png" alt="">
        </div>

        <div class="slayd3">
            <img src="img\uqGFAXpFqCQuKqbNOUOfVwo1UrKANxrpOyFZbsHbGyYNUdtltGPjRQs36jTS.png" alt=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="img\BNhS3neYDLDVlnwyRvjkvrSsoNOng84NrJJNW9nEBnexlcIU76Lnl0cHA5Wb.png" alt=""> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="img\BdoI345YJ428sNoOg9V3mwOHSYL8J1m2We3cT2EzfpSA2KszYzrCoU8Bhi1F.png" alt="">
        </div>
        <div class="slayd4">
            <img src="img/cLAI4fq7yjIe6WHJ3oRRCAQAqRkQKY1NCEj3f0WsRGZ6XCHWrIkjt9CQgZ4O.png" alt="">
            <img src="img/Jj1CKe1SsmqvgfudVqUisc4bTsqpEyYX55RYWoUgjT2TV9cLFMIo0y3L35CZ.png" alt="">
        </div>

        <!-- Mahsulotlar -->

        <div class="mahsulot">
            <div class="part1">
                <img src="img/uzun-rasm.png" alt="">
            </div>

            <div class="asosiy-part">
            <div class="mahsulot-part">
                {% for product in products %}
                <div class="block1">
                    <div class="rasm1">
                        <a href="{{ product.get_absolute_url }}">
                            {% for picture in product.productimage_set.all  %}
                            {% if picture == product.productimage_set.all.first %}
                            <img src="{% if picture.image %}{{picture.image.url}}{% else %}{% static 'img/no_image.webp' %}{% endif %}" alt="">
                            {% endif %}
                            {% endfor %}
                        </a>
                        <div class="mah-icon">
                            <ion-icon name="heart-outline" class="layk-button"></ion-icon>
                        <ion-icon name="stats-chart"></ion-icon>
                        </div>
                    </div>
                    <h1>Apple iPhone 14 Pro Max</h1>
                    <h2>17 689 000 so'm</h2>
                    <h3>1 672 000 so'm x 12</h3>
                   <div class="mah-btn">
                    <button class="cart-btn"><ion-icon name="cart-outline"></ion-icon></button>
                    <button class="tolov-btn">Muddatli to'lov</button>
                   </div>
                </div>
                {% endfor %}

            </div>

            <br><br>

            <div class="mahsulot-part">

                

                <div class="block1">
                    <div class="rasm1">
                        <img src="mahsulot/a33.jpeg" alt="">
                        <div class="mah-icon">
                            <ion-icon name="heart-outline" class="layk-button"></ion-icon>
                        <ion-icon name="stats-chart"></ion-icon>
                        </div>
                    </div>
                    <h1>Samsung Gallaxy A33 5G</h1>
                    <h2>3 535 000 so'm</h2>
                    <h3>358 000 so'm x 12</h3>
                   <div class="mah-btn">
                    <button class="cart-btn"><ion-icon name="cart-outline"></ion-icon></button>
                    <button class="tolov-btn">Muddatli to'lov</button>
                   </div>
                </div>

            </div>
        </div>
        </div>
{% endblock content %}